# following file is a leftover of calling make test-example without the proper argument
examples/output.txt

vendor/
**/.DS_Store

coverage.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go test and golangci-lint profiles and reports
*.out
report.json

# Go patch
/vendor/
/Godeps/

### JetBrains ###
.idea

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
